<app-nav-bar></app-nav-bar>
<span class="line"></span>
<div class="wrapper">
  <div class="mainHomeBlock flex-s">
    <aside>
      <app-github-feed></app-github-feed>
      <br>
      <app-skill-languages></app-skill-languages>
      <br>
      <app-social-media></app-social-media>
    </aside>
    <div class="content">
      <div class="h2-title h2-title-content flex-s-c">
        <span>Account Setting</span>
      </div>
      <div class="acc">
        <div class="acc-title">Account details</div>
        <div class="accBlock flex-s">
          <div class="accBlock-content">
            <div class="formGroup">
              <span>Login</span><div class="fieldGroup-input">Dkarts</div>
            </div>
            <div class="formGroup">
              <span>Date of Registration</span><div class="fieldGroup-input">15.01.2021</div>
            </div>
          </div>
          <div class="accBlock-content">
            <div class="formGroup">
              <span>E-mail</span><div class="fieldGroup-input">dkartsadmin@gmail.com</div>
            </div>
            <div class="formGroup">
              <span>Last Login to the Game</span><div class="fieldGroup-input">15.02.2021</div>
            </div>
          </div>
        </div><!--accBlock-->
      </div><!--acc-->
      <div class="acc">
        <div class="acc-title">Actions</div>
        <div class="accBlock flex-s">
          <div class="accBlock-content">
            <div class="formGroup">
              <span>Change account password</span><input type="text" value="dkarts0000123456">
            </div>
            <div class="formGroup">
              <span>Change character deletion code</span><input type="text" value="dkarts0000123456">
            </div>
          </div>
          <div class="accBlock-content">
            <div class="formGroup">
              <span>Change e-mail address</span><input type="text" value="96452427">
            </div>
            <div class="formGroup">
              <span>Change store code</span><input type="text" value="12548">
            </div>
          </div>
        </div><!--accBlock-->
        <div class="change-button">
          <button class="big-button-blue">Confirm Changes</button>
        </div>
      </div><!--acc-->
      <div class="support">
        <div class="acc-title">Actions</div>
        <div class="supportButtons flex-c-c">
          <div class="supportButton">
            <button>Add a Ticket</button>
          </div>
          <div class="supportButton">
            <button>Check Ticket</button>
          </div>
        </div>
      </div><!--support-->
    </div>
  </div>
</div>
<app-footer></app-footer>


